@{
ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-3 ">
            Sidebar
        </div>
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <div class="content">
                        <div class="col-12">
                            Resim
                        </div>
                        <div clasys="col-12">
                            Başlık
                        </div>
                        <div class="col-12">
                            Yazı
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
